<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="EnderecoJson" value="C:/SPI/Service/test.json" />
    <!-- PATHS TO SAVE FILE -->
    <add key="PATHLOGCHIESI" value="C:/SPI/logs/log.txt" />
    <add key="PATHLOGCHIESITOSAVE" value="C:/SPI/logGenerated/log.txt" />
    <add key="PATHERRORLOGCHIESI" value="C:/SPI/logs/ErrorLog.txt" />
    <add key="PATHLOGACTION" value="C:/SPI/logGenerated/logAction-" />
    <add key="PATHADCHIESI" value="C:/SPI/logs/logAD-" />
    <add key="RELATORIOPATH" value="C:/SPI/logs/pdf/" />
    <add key="PATHDUMP" value="C:/SPI/logs/Dump/log-" />
    <add key="STYLESHEET" value="C:/SPI/Service/Stylesheet1.css" />
    <add key="LOGOPATH" value="C:/SPI/Service/logo.png" />
    <!-- TAGS PARA BEGINOFMANIPULATION  -->
    <add key="TAGDATA_BEGINOFMANIPULATION" value="ProjetoChiesi.plcchiesioficial.RecipeHeader.TAGDATA_BEGINOFMANIPULATION" />
    <add key="TAGHOUR_BEGINOFMANIPULATION" value="ProjetoChiesi.plcchiesioficial.RecipeHeader.TAGHOUR_BEGINOFMANIPULATION" />
    <add key="TAGCODE" value="ProjetoChiesi.plcchiesioficial.RecipeHeader.TAGCODE" />
    <add key="TAGBATCH" value="ProjetoChiesi.plcchiesioficial.RecipeHeader.TAGBATCH" />
    <add key="TAGASSINATURA_BEGINOFMANIPULATION" value="ProjetoChiesi.plcchiesioficial.RecipeHeader.TAGASSINATURA_BEGINOFMANIPULATION" />
    <add key="TAGRECIPENAME" value="ProjetoChiesi.plcchiesioficial.RecipeHeader.TAGRECIPENAME" />
    <add key="TAGPRODUCTYPE" value="ProjetoChiesi.plcchiesioficial.RecipeHeader.TAGPRODUCTYPE" />
    <add key="TAGSUBTYPE" value="ProjetoChiesi.plcchiesioficial.RecipeHeader.TAGSUBTYPE" />
    <!-- TAGS GERAIS DO SISTEMA -->
    <!--BD CHIESI-->
    <!--<add key="connectionString" value="server=W12BRPLABD01;Database=SPI_INTERLEVEL_DB;persist security info=False;User ID=spi;Password=spi" />-->
    <!--BD SPI-->
    <add key="connectionString" value="server=WIN-94GH8RGV5GM\SQLEXPRESS;Database=SPI_INTERLEVEL_DB;persist security info=False;User ID=Chiesi;Password=spi" />
    <add key="CANREAD" value="ProjetoChiesi.plcchiesioficial.Operation.can_read"/>
    <add key="OKREAD" value="ProjetoChiesi.plcchiesioficial.Operation.ok_read"/>
    <add key="TAGLIFEBIT" value="ProjetoChiesi.plcchiesioficial.Operation.tag_life_bit" />
    <add key="TAGLIFEBITCHECK" value="ProjetoChiesi.plcchiesioficial.Operation.tag_lifebit_check" />
    <add key="TAGERRORPLC" value="ProjetoChiesi.plcchiesioficial.Operation.tag_error" />
    <add key="TAGERRORMESSAGE" value="ProjetoChiesi.plcchiesioficial.Operation.tag_error_message" />
    <!-- INFOS OF INDEX 0 -->
    <add key="RECEITA.DADOS[0].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_0_parametro_0" />
    <add key="RECEITA.DADOS[0].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_0_parametro_1" />
    <add key="RECEITA.DADOS[0].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_0_parametro_2" />
    <add key="RECEITA.DADOS[0].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_0_parametro_3" />
    <add key="RECEITA.DADOS[0].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_0_parametro_4" />
    <add key="RECEITA.DADOS[0].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_0_hora_0" />
    <add key="RECEITA.DADOS[0].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_0_hora_1" />
    <add key="RECEITA.DADOS[0].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_0_data" />
    <add key="RECEITA.DADOS[0].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_0_assignature" />
    <add key="RECEITA.DADOS[0].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_0_id" />
    <!-- INFOS OF INDEX 1 -->
    <add key="RECEITA.DADOS[1].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_1_parametro_0" />
    <add key="RECEITA.DADOS[1].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_1_parametro_1" />
    <add key="RECEITA.DADOS[1].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_1_parametro_2" />
    <add key="RECEITA.DADOS[1].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_1_parametro_3" />
    <add key="RECEITA.DADOS[1].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_1_parametro_4" />
    <add key="RECEITA.DADOS[1].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_1_hora_0" />
    <add key="RECEITA.DADOS[1].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_1_hora_1" />
    <add key="RECEITA.DADOS[1].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_1_data" />
    <add key="RECEITA.DADOS[1].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_1_assignature" />
    <add key="RECEITA.DADOS[1].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_1_id" />
    <!-- INFOS OF INDEX 2 -->
    <add key="RECEITA.DADOS[2].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_2_parametro_0" />
    <add key="RECEITA.DADOS[2].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_2_parametro_1" />
    <add key="RECEITA.DADOS[2].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_2_parametro_2" />
    <add key="RECEITA.DADOS[2].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_2_parametro_3" />
    <add key="RECEITA.DADOS[2].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_2_parametro_4" />
    <add key="RECEITA.DADOS[2].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_2_hora_0" />
    <add key="RECEITA.DADOS[2].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_2_hora_1" />
    <add key="RECEITA.DADOS[2].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_2_data" />
    <add key="RECEITA.DADOS[2].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_2_assignature" />
    <add key="RECEITA.DADOS[2].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_2_id" />
    <!-- INFOS OF INDEX 3 -->
    <add key="RECEITA.DADOS[3].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_3_parametro_0" />
    <add key="RECEITA.DADOS[3].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_3_parametro_1" />
    <add key="RECEITA.DADOS[3].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_3_parametro_2" />
    <add key="RECEITA.DADOS[3].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_3_parametro_3" />
    <add key="RECEITA.DADOS[3].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_3_parametro_4" />
    <add key="RECEITA.DADOS[3].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_3_hora_0" />
    <add key="RECEITA.DADOS[3].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_3_hora_1" />
    <add key="RECEITA.DADOS[3].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_3_data" />
    <add key="RECEITA.DADOS[3].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_3_assignature" />
    <add key="RECEITA.DADOS[3].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_3_id" />
    <!-- INFOS OF INDEX 4 -->
    <add key="RECEITA.DADOS[4].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_4_parametro_0" />
    <add key="RECEITA.DADOS[4].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_4_parametro_1" />
    <add key="RECEITA.DADOS[4].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_4_parametro_2" />
    <add key="RECEITA.DADOS[4].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_4_parametro_3" />
    <add key="RECEITA.DADOS[4].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_4_parametro_4" />
    <add key="RECEITA.DADOS[4].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_4_hora_0" />
    <add key="RECEITA.DADOS[4].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_4_hora_1" />
    <add key="RECEITA.DADOS[4].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_4_data" />
    <add key="RECEITA.DADOS[4].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_4_assignature" />
    <add key="RECEITA.DADOS[4].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_4_id" />
    <!-- INFOS OF INDEX 5 -->
    <add key="RECEITA.DADOS[5].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_5_parametro_0" />
    <add key="RECEITA.DADOS[5].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_5_parametro_1" />
    <add key="RECEITA.DADOS[5].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_5_parametro_2" />
    <add key="RECEITA.DADOS[5].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_5_parametro_3" />
    <add key="RECEITA.DADOS[5].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_5_parametro_4" />
    <add key="RECEITA.DADOS[5].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_5_hora_0" />
    <add key="RECEITA.DADOS[5].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_5_hora_1" />
    <add key="RECEITA.DADOS[5].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_5_data" />
    <add key="RECEITA.DADOS[5].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_5_assignature" />
    <add key="RECEITA.DADOS[5].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_5_id" />
    <!-- INFOS OF INDEX 6 -->
    <add key="RECEITA.DADOS[6].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_6_parametro_0" />
    <add key="RECEITA.DADOS[6].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_6_parametro_1" />
    <add key="RECEITA.DADOS[6].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_6_parametro_2" />
    <add key="RECEITA.DADOS[6].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_6_parametro_3" />
    <add key="RECEITA.DADOS[6].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_6_parametro_4" />
    <add key="RECEITA.DADOS[6].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_6_hora_0" />
    <add key="RECEITA.DADOS[6].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_6_hora_1" />
    <add key="RECEITA.DADOS[6].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_6_data" />
    <add key="RECEITA.DADOS[6].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_6_assignature" />
    <add key="RECEITA.DADOS[6].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_6_id" />
    <!-- INFOS OF INDEX 7 -->
    <add key="RECEITA.DADOS[7].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_7_parametro_0" />
    <add key="RECEITA.DADOS[7].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_7_parametro_1" />
    <add key="RECEITA.DADOS[7].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_7_parametro_2" />
    <add key="RECEITA.DADOS[7].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_7_parametro_3" />
    <add key="RECEITA.DADOS[7].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_7_parametro_4" />
    <add key="RECEITA.DADOS[7].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_7_hora_0" />
    <add key="RECEITA.DADOS[7].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_7_hora_1" />
    <add key="RECEITA.DADOS[7].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_7_data" />
    <add key="RECEITA.DADOS[7].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_7_assignature" />
    <add key="RECEITA.DADOS[7].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_7_id" />
    <!-- INFOS OF INDEX 8 -->
    <add key="RECEITA.DADOS[8].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_8_parametro_0" />
    <add key="RECEITA.DADOS[8].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_8_parametro_1" />
    <add key="RECEITA.DADOS[8].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_8_parametro_2" />
    <add key="RECEITA.DADOS[8].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_8_parametro_3" />
    <add key="RECEITA.DADOS[8].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_8_parametro_4" />
    <add key="RECEITA.DADOS[8].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_8_hora_0" />
    <add key="RECEITA.DADOS[8].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_8_hora_1" />
    <add key="RECEITA.DADOS[8].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_8_data" />
    <add key="RECEITA.DADOS[8].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_8_assignature" />
    <add key="RECEITA.DADOS[8].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_8_id" />
    <!-- INFOS OF INDEX 9 -->
    <add key="RECEITA.DADOS[9].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_9_parametro_0" />
    <add key="RECEITA.DADOS[9].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_9_parametro_1" />
    <add key="RECEITA.DADOS[9].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_9_parametro_2" />
    <add key="RECEITA.DADOS[9].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_9_parametro_3" />
    <add key="RECEITA.DADOS[9].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_9_parametro_4" />
    <add key="RECEITA.DADOS[9].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_9_hora_0" />
    <add key="RECEITA.DADOS[9].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_9_hora_1" />
    <add key="RECEITA.DADOS[9].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_9_data" />
    <add key="RECEITA.DADOS[9].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_9_assignature" />
    <add key="RECEITA.DADOS[9].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_9_id" />
    <!-- INFOS OF INDEX 10 -->
    <add key="RECEITA.DADOS[10].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_10_parametro_0" />
    <add key="RECEITA.DADOS[10].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_10_parametro_1" />
    <add key="RECEITA.DADOS[10].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_10_parametro_2" />
    <add key="RECEITA.DADOS[10].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_10_parametro_3" />
    <add key="RECEITA.DADOS[10].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_10_parametro_4" />
    <add key="RECEITA.DADOS[10].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_10_hora_0" />
    <add key="RECEITA.DADOS[10].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_10_hora_1" />
    <add key="RECEITA.DADOS[10].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_10_data" />
    <add key="RECEITA.DADOS[10].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_10_assignature" />
    <add key="RECEITA.DADOS[10].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_10_id" />
    <!-- INFOS OF INDEX 11 -->
    <add key="RECEITA.DADOS[11].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_11_parametro_0" />
    <add key="RECEITA.DADOS[11].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_11_parametro_1" />
    <add key="RECEITA.DADOS[11].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_11_parametro_2" />
    <add key="RECEITA.DADOS[11].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_11_parametro_3" />
    <add key="RECEITA.DADOS[11].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_11_parametro_4" />
    <add key="RECEITA.DADOS[11].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_11_hora_0" />
    <add key="RECEITA.DADOS[11].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_11_hora_1" />
    <add key="RECEITA.DADOS[11].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_11_data" />
    <add key="RECEITA.DADOS[11].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_11_assignature" />
    <add key="RECEITA.DADOS[11].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_11_id" />
    <!-- INFOS OF INDEX 12 -->
    <add key="RECEITA.DADOS[12].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_12_parametro_0" />
    <add key="RECEITA.DADOS[12].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_12_parametro_1" />
    <add key="RECEITA.DADOS[12].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_12_parametro_2" />
    <add key="RECEITA.DADOS[12].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_12_parametro_3" />
    <add key="RECEITA.DADOS[12].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_12_parametro_4" />
    <add key="RECEITA.DADOS[12].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_12_hora_0" />
    <add key="RECEITA.DADOS[12].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_12_hora_1" />
    <add key="RECEITA.DADOS[12].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_12_data" />
    <add key="RECEITA.DADOS[12].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_12_assignature" />
    <add key="RECEITA.DADOS[12].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_12_id" />
    <!-- INFOS OF INDEX 13 -->
    <add key="RECEITA.DADOS[13].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_13_parametro_0" />
    <add key="RECEITA.DADOS[13].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_13_parametro_1" />
    <add key="RECEITA.DADOS[13].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_13_parametro_2" />
    <add key="RECEITA.DADOS[13].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_13_parametro_3" />
    <add key="RECEITA.DADOS[13].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_13_parametro_4" />
    <add key="RECEITA.DADOS[13].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_13_hora_0" />
    <add key="RECEITA.DADOS[13].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_13_hora_1" />
    <add key="RECEITA.DADOS[13].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_13_data" />
    <add key="RECEITA.DADOS[13].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_13_assignature" />
    <add key="RECEITA.DADOS[13].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_13_id" />
    <!-- INFOS OF INDEX 14 -->
    <add key="RECEITA.DADOS[14].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_14_parametro_0" />
    <add key="RECEITA.DADOS[14].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_14_parametro_1" />
    <add key="RECEITA.DADOS[14].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_14_parametro_2" />
    <add key="RECEITA.DADOS[14].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_14_parametro_3" />
    <add key="RECEITA.DADOS[14].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_14_parametro_4" />
    <add key="RECEITA.DADOS[14].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_14_hora_0" />
    <add key="RECEITA.DADOS[14].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_14_hora_1" />
    <add key="RECEITA.DADOS[14].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_14_data" />
    <add key="RECEITA.DADOS[14].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_14_assignature" />
    <add key="RECEITA.DADOS[14].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_14_id" />
    <!-- INFOS OF INDEX 15 -->
    <add key="RECEITA.DADOS[15].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_15_parametro_0" />
    <add key="RECEITA.DADOS[15].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_15_parametro_1" />
    <add key="RECEITA.DADOS[15].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_15_parametro_2" />
    <add key="RECEITA.DADOS[15].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_15_parametro_3" />
    <add key="RECEITA.DADOS[15].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_15_parametro_4" />
    <add key="RECEITA.DADOS[15].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_15_hora_0" />
    <add key="RECEITA.DADOS[15].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_15_hora_1" />
    <add key="RECEITA.DADOS[15].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_15_data" />
    <add key="RECEITA.DADOS[15].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_15_assignature" />
    <add key="RECEITA.DADOS[15].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_15_id" />
    <!-- INFOS OF INDEX 16 -->
    <add key="RECEITA.DADOS[16].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_16_parametro_0" />
    <add key="RECEITA.DADOS[16].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_16_parametro_1" />
    <add key="RECEITA.DADOS[16].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_16_parametro_2" />
    <add key="RECEITA.DADOS[16].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_16_parametro_3" />
    <add key="RECEITA.DADOS[16].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_16_parametro_4" />
    <add key="RECEITA.DADOS[16].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_16_hora_0" />
    <add key="RECEITA.DADOS[16].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_16_hora_1" />
    <add key="RECEITA.DADOS[16].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_16_data" />
    <add key="RECEITA.DADOS[16].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_16_assignature" />
    <add key="RECEITA.DADOS[16].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_16_id" />
    <!-- INFOS OF INDEX 17 -->
    <add key="RECEITA.DADOS[17].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_17_parametro_0" />
    <add key="RECEITA.DADOS[17].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_17_parametro_1" />
    <add key="RECEITA.DADOS[17].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_17_parametro_2" />
    <add key="RECEITA.DADOS[17].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_17_parametro_3" />
    <add key="RECEITA.DADOS[17].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_17_parametro_4" />
    <add key="RECEITA.DADOS[17].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_17_hora_0" />
    <add key="RECEITA.DADOS[17].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_17_hora_1" />
    <add key="RECEITA.DADOS[17].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_17_data" />
    <add key="RECEITA.DADOS[17].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_17_assignature" />
    <add key="RECEITA.DADOS[17].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_17_id" />
    <!-- INFOS OF INDEX 18 -->
    <add key="RECEITA.DADOS[18].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_18_parametro_0" />
    <add key="RECEITA.DADOS[18].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_18_parametro_1" />
    <add key="RECEITA.DADOS[18].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_18_parametro_2" />
    <add key="RECEITA.DADOS[18].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_18_parametro_3" />
    <add key="RECEITA.DADOS[18].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_18_parametro_4" />
    <add key="RECEITA.DADOS[18].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_18_hora_0" />
    <add key="RECEITA.DADOS[18].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_18_hora_1" />
    <add key="RECEITA.DADOS[18].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_18_data" />
    <add key="RECEITA.DADOS[18].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_18_assignature" />
    <add key="RECEITA.DADOS[18].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_18_id" />
    <!-- INFOS OF INDEX 19 -->
    <add key="RECEITA.DADOS[19].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_19_parametro_0" />
    <add key="RECEITA.DADOS[19].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_19_parametro_1" />
    <add key="RECEITA.DADOS[19].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_19_parametro_2" />
    <add key="RECEITA.DADOS[19].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_19_parametro_3" />
    <add key="RECEITA.DADOS[19].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_19_parametro_4" />
    <add key="RECEITA.DADOS[19].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_19_hora_0" />
    <add key="RECEITA.DADOS[19].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_19_hora_1" />
    <add key="RECEITA.DADOS[19].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_19_data" />
    <add key="RECEITA.DADOS[19].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_19_assignature" />
    <add key="RECEITA.DADOS[19].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_19_id" />
    <!-- INFOS OF INDEX 20 -->
    <add key="RECEITA.DADOS[20].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_20_parametro_0" />
    <add key="RECEITA.DADOS[20].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_20_parametro_1" />
    <add key="RECEITA.DADOS[20].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_20_parametro_2" />
    <add key="RECEITA.DADOS[20].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_20_parametro_3" />
    <add key="RECEITA.DADOS[20].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_20_parametro_4" />
    <add key="RECEITA.DADOS[20].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_20_hora_0" />
    <add key="RECEITA.DADOS[20].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_20_hora_1" />
    <add key="RECEITA.DADOS[20].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_20_data" />
    <add key="RECEITA.DADOS[20].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_20_assignature" />
    <add key="RECEITA.DADOS[20].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_20_id" />
    <!-- INFOS OF INDEX 21 -->
    <add key="RECEITA.DADOS[21].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_21_parametro_0" />
    <add key="RECEITA.DADOS[21].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_21_parametro_1" />
    <add key="RECEITA.DADOS[21].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_21_parametro_2" />
    <add key="RECEITA.DADOS[21].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_21_parametro_3" />
    <add key="RECEITA.DADOS[21].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_21_parametro_4" />
    <add key="RECEITA.DADOS[21].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_21_hora_0" />
    <add key="RECEITA.DADOS[21].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_21_hora_1" />
    <add key="RECEITA.DADOS[21].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_21_data" />
    <add key="RECEITA.DADOS[21].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_21_assignature" />
    <add key="RECEITA.DADOS[21].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_21_id" />
    <!-- INFOS OF INDEX 22 -->
    <add key="RECEITA.DADOS[22].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_22_parametro_0" />
    <add key="RECEITA.DADOS[22].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_22_parametro_1" />
    <add key="RECEITA.DADOS[22].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_22_parametro_2" />
    <add key="RECEITA.DADOS[22].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_22_parametro_3" />
    <add key="RECEITA.DADOS[22].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_22_parametro_4" />
    <add key="RECEITA.DADOS[22].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_22_hora_0" />
    <add key="RECEITA.DADOS[22].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_22_hora_1" />
    <add key="RECEITA.DADOS[22].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_22_data" />
    <add key="RECEITA.DADOS[22].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_22_assignature" />
    <add key="RECEITA.DADOS[22].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_22_id" />
    <!-- INFOS OF INDEX 23 -->
    <add key="RECEITA.DADOS[23].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_23_parametro_0" />
    <add key="RECEITA.DADOS[23].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_23_parametro_1" />
    <add key="RECEITA.DADOS[23].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_23_parametro_2" />
    <add key="RECEITA.DADOS[23].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_23_parametro_3" />
    <add key="RECEITA.DADOS[23].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_23_parametro_4" />
    <add key="RECEITA.DADOS[23].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_23_hora_0" />
    <add key="RECEITA.DADOS[23].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_23_hora_1" />
    <add key="RECEITA.DADOS[23].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_23_data" />
    <add key="RECEITA.DADOS[23].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_23_assignature" />
    <add key="RECEITA.DADOS[23].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_23_id" />
    <!-- INFOS OF INDEX 24 -->
    <add key="RECEITA.DADOS[24].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_24_parametro_0" />
    <add key="RECEITA.DADOS[24].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_24_parametro_1" />
    <add key="RECEITA.DADOS[24].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_24_parametro_2" />
    <add key="RECEITA.DADOS[24].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_24_parametro_3" />
    <add key="RECEITA.DADOS[24].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_24_parametro_4" />
    <add key="RECEITA.DADOS[24].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_24_hora_0" />
    <add key="RECEITA.DADOS[24].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_24_hora_1" />
    <add key="RECEITA.DADOS[24].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_24_data" />
    <add key="RECEITA.DADOS[24].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_24_assignature" />
    <add key="RECEITA.DADOS[24].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_24_id" />
    <!-- INFOS OF INDEX 25 -->
    <add key="RECEITA.DADOS[25].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_25_parametro_0" />
    <add key="RECEITA.DADOS[25].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_25_parametro_1" />
    <add key="RECEITA.DADOS[25].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_25_parametro_2" />
    <add key="RECEITA.DADOS[25].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_25_parametro_3" />
    <add key="RECEITA.DADOS[25].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_25_parametro_4" />
    <add key="RECEITA.DADOS[25].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_25_hora_0" />
    <add key="RECEITA.DADOS[25].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_25_hora_1" />
    <add key="RECEITA.DADOS[25].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_25_data" />
    <add key="RECEITA.DADOS[25].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_25_assignature" />
    <add key="RECEITA.DADOS[25].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_25_id" />
    <!-- INFOS OF INDEX 26 -->
    <add key="RECEITA.DADOS[26].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_26_parametro_0" />
    <add key="RECEITA.DADOS[26].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_26_parametro_1" />
    <add key="RECEITA.DADOS[26].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_26_parametro_2" />
    <add key="RECEITA.DADOS[26].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_26_parametro_3" />
    <add key="RECEITA.DADOS[26].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_26_parametro_4" />
    <add key="RECEITA.DADOS[26].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_26_hora_0" />
    <add key="RECEITA.DADOS[26].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_26_hora_1" />
    <add key="RECEITA.DADOS[26].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_26_data" />
    <add key="RECEITA.DADOS[26].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_26_assignature" />
    <add key="RECEITA.DADOS[26].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_26_id" />
    <!-- INFOS OF INDEX 27 -->
    <add key="RECEITA.DADOS[27].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_27_parametro_0" />
    <add key="RECEITA.DADOS[27].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_27_parametro_1" />
    <add key="RECEITA.DADOS[27].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_27_parametro_2" />
    <add key="RECEITA.DADOS[27].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_27_parametro_3" />
    <add key="RECEITA.DADOS[27].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_27_parametro_4" />
    <add key="RECEITA.DADOS[27].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_27_hora_0" />
    <add key="RECEITA.DADOS[27].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_27_hora_1" />
    <add key="RECEITA.DADOS[27].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_27_data" />
    <add key="RECEITA.DADOS[27].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_27_assignature" />
    <add key="RECEITA.DADOS[27].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_27_id" />
    <!-- INFOS OF INDEX 28 -->
    <add key="RECEITA.DADOS[28].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_28_parametro_0" />
    <add key="RECEITA.DADOS[28].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_28_parametro_1" />
    <add key="RECEITA.DADOS[28].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_28_parametro_2" />
    <add key="RECEITA.DADOS[28].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_28_parametro_3" />
    <add key="RECEITA.DADOS[28].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_28_parametro_4" />
    <add key="RECEITA.DADOS[28].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_28_hora_0" />
    <add key="RECEITA.DADOS[28].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_28_hora_1" />
    <add key="RECEITA.DADOS[28].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_28_data" />
    <add key="RECEITA.DADOS[28].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_28_assignature" />
    <add key="RECEITA.DADOS[28].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_28_id" />
    <!-- INFOS OF INDEX 29 -->
    <add key="RECEITA.DADOS[29].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_29_parametro_0" />
    <add key="RECEITA.DADOS[29].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_29_parametro_1" />
    <add key="RECEITA.DADOS[29].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_29_parametro_2" />
    <add key="RECEITA.DADOS[29].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_29_parametro_3" />
    <add key="RECEITA.DADOS[29].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_29_parametro_4" />
    <add key="RECEITA.DADOS[29].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_29_hora_0" />
    <add key="RECEITA.DADOS[29].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_29_hora_1" />
    <add key="RECEITA.DADOS[29].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_29_data" />
    <add key="RECEITA.DADOS[29].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_29_assignature" />
    <add key="RECEITA.DADOS[29].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_29_id" />
    <!-- INFOS OF INDEX 30 -->
    <add key="RECEITA.DADOS[30].PARAMETROS[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_30_parametro_0" />
    <add key="RECEITA.DADOS[30].PARAMETROS[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_30_parametro_1" />
    <add key="RECEITA.DADOS[30].PARAMETROS[2]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_30_parametro_2" />
    <add key="RECEITA.DADOS[30].PARAMETROS[3]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_30_parametro_3" />
    <add key="RECEITA.DADOS[30].PARAMETROS[4]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_30_parametro_4" />
    <add key="RECEITA.DADOS[30].HORA[0]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_30_hora_0" />
    <add key="RECEITA.DADOS[30].HORA[1]" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_30_hora_1" />
    <add key="RECEITA.DADOS[30].DATA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_30_data" />
    <add key="RECEITA.DADOS[30].ASSINATURA" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_30_assignature" />
    <add key="RECEITA.DADOS[30].ID" value="ProjetoChiesi.plcchiesioficial.RecipeData.receita_dados_30_id" />


    <add key="EnderecoJson" value="C:/SPI/Service/test.json" />

  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.32.3057.0" newVersion="1.32.3057.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>