<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="EnderecoJson" value="C:/SPI/Service/test.json" />
    <!-- PATHS TO SAVE FILE -->
    <add key="PATHLOGCHIESI" value="C:/SPI/logs/log.txt" />
    <add key="PATHLOGCHIESITOSAVE" value="C:/SPI/logGenerated/log.txt" />
    <add key="PATHERRORLOGCHIESI" value="C:/SPI/logs/ErrorLog.txt" />
    <add key="PATHLOGACTION" value="C:/SPI/logGenerated/logAction-" />
    <add key="PATHADCHIESI" value="C:/SPI/logs/logAD-" />
    <add key="STYLESHEET" value="C:/SPI/Service/Stylesheet1.css" />
    <add key="RELATORIOPATH" value="C:/SPI/logs/pdf/" />
    <add key="LOGOPATH" value="C:/SPI/Service/logo.png" />
    <add key="PATHDUMP" value="C:/SPI/Service/test.json" />
    <!-- TAGS PARA BEGINOFMANIPULATION  -->
    <add key="TAGDATA_BEGINOFMANIPULATION" value="" />
    <add key="TAGHOUR_BEGINOFMANIPULATION" value="" />
    <add key="TAGCODE" value="ProjetoChiesi.plcchiesi.Product.tag_code" />
    <add key="TAGBATCH" value="ProjetoChiesi.plcchiesi.Product.tag_batch" />
    <add key="TAGASSINATURA_BEGINOFMANIPULATION" value="ProjetoChiesi.plcchiesi.BasicInfos.tag_operator_login" />
    <add key="TAGRECIPENAME" value="ProjetoChiesi.plcchiesi.Product.tag_recipe_type" />
    <add key="TAGPRODUCTYPE" value="ProjetoChiesi.plcchiesi.Operation.tag_product_type" />
    <add key="TAGSUBTYPE" value="ProjetoChiesi.plcchiesi.Operation.tag_product_sub_type" />
    <!-- TAGS GERAIS DO SISTEMA-->
    <add key="connectionString" value="server=W12BRPLABD01;Database=SPI_INTERLEVEL_DB;persist security info=False;User ID=spi;Password=spi" />
    <add key="TAGLIFEBIT" value="ProjetoChiesi.plcchiesi.Operation.tag_life_bit" />
    <add key="TAGLIFEBITCHECK" value="ProjetoChiesi.plcchiesi.Operation.tag_lifebit_check" />
    <add key="TAGERRORPLC" value="ProjetoChiesi.plcchiesi.Operation.tag_error" />
    <add key="TAGERRORMESSAGE" value="ProjetoChiesi.plcchiesi.Operation.tag_error_message" />
    <!-- INFOS OF INDEX 0 -->
    <add key="RECEITA.DADOS[0].PARAMETROS[0]" value="RECEITA.DADOS[0].PARAMETROS[0]" />
    <add key="RECEITA.DADOS[0].PARAMETROS[1]" value="RECEITA.DADOS[0].PARAMETROS[1]" />
    <add key="RECEITA.DADOS[0].PARAMETROS[2]" value="RECEITA.DADOS[0].PARAMETROS[2]" />
    <add key="RECEITA.DADOS[0].PARAMETROS[3]" value="RECEITA.DADOS[0].PARAMETROS[3]" />
    <add key="RECEITA.DADOS[0].PARAMETROS[4]" value="RECEITA.DADOS[0].PARAMETROS[4]" />
    <add key="RECEITA.DADOS[0].HORA[0]" value="RECEITA.DADOS[0].HORA[0]" />
    <add key="RECEITA.DADOS[0].HORA[1]" value="RECEITA.DADOS[0].HORA[1]" />
    <add key="RECEITA.DADOS[0].DATA" value="RECEITA.DADOS[0].DATA" />
    <add key="RECEITA.DADOS[0].ASSINATURA" value="RECEITA.DADOS[0].ASSINATURA" />
    <add key="RECEITA.DADOS[0].ID" value="RECEITA.DADOS[0].ID" />
    <!-- INFOS OF INDEX 1 -->
    <add key="RECEITA.DADOS[1].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" />
    <add key="RECEITA.DADOS[1].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" />
    <add key="RECEITA.DADOS[1].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" />
    <add key="RECEITA.DADOS[1].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" />
    <add key="RECEITA.DADOS[1].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" />
    <add key="RECEITA.DADOS[1].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" />
    <add key="RECEITA.DADOS[1].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" />
    <add key="RECEITA.DADOS[1].DATA" value="RECEITA.DADOS[1].DATA" />
    <add key="RECEITA.DADOS[1].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" />
    <add key="RECEITA.DADOS[1].ID" value="RECEITA.DADOS[1].ID" />
    <!-- INFOS OF INDEX 2 -->
    <add key="RECEITA.DADOS[2].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" />
    <add key="RECEITA.DADOS[2].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" />
    <add key="RECEITA.DADOS[2].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" />
    <add key="RECEITA.DADOS[2].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" />
    <add key="RECEITA.DADOS[2].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" />
    <add key="RECEITA.DADOS[2].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" />
    <add key="RECEITA.DADOS[2].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" />
    <add key="RECEITA.DADOS[2].DATA" value="RECEITA.DADOS[1].DATA" />
    <add key="RECEITA.DADOS[2].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" />
    <add key="RECEITA.DADOS[2].ID" value="RECEITA.DADOS[1].ID" />
    <!-- INFOS OF INDEX 3 -->
    <add key="RECEITA.DADOS[3].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" />
    <add key="RECEITA.DADOS[3].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" />
    <add key="RECEITA.DADOS[3].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" />
    <add key="RECEITA.DADOS[3].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" />
    <add key="RECEITA.DADOS[3].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" />
    <add key="RECEITA.DADOS[3].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" />
    <add key="RECEITA.DADOS[3].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" />
    <add key="RECEITA.DADOS[3].DATA" value="RECEITA.DADOS[1].DATA" />
    <add key="RECEITA.DADOS[3].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" />
    <add key="RECEITA.DADOS[3].ID" value="RECEITA.DADOS[1].ID" />
    <!-- INFOS OF INDEX 4 -->
    <add key="RECEITA.DADOS[4].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" />
    <add key="RECEITA.DADOS[4].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" />
    <add key="RECEITA.DADOS[4].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" />
    <add key="RECEITA.DADOS[4].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" />
    <add key="RECEITA.DADOS[4].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" />
    <add key="RECEITA.DADOS[4].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" />
    <add key="RECEITA.DADOS[4].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" />
    <add key="RECEITA.DADOS[4].DATA" value="RECEITA.DADOS[1].DATA" />
    <add key="RECEITA.DADOS[4].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" />
    <add key="RECEITA.DADOS[4].ID" value="RECEITA.DADOS[1].ID" />
    <!-- INFOS OF INDEX 5 -->
    <add key="RECEITA.DADOS[5].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" />
    <add key="RECEITA.DADOS[5].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" />
    <add key="RECEITA.DADOS[5].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" />
    <add key="RECEITA.DADOS[5].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" />
    <add key="RECEITA.DADOS[5].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" />
    <add key="RECEITA.DADOS[5].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" />
    <add key="RECEITA.DADOS[5].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" />
    <add key="RECEITA.DADOS[5].DATA" value="RECEITA.DADOS[1].DATA" />
    <add key="RECEITA.DADOS[5].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" />
    <add key="RECEITA.DADOS[5].ID" value="RECEITA.DADOS[1].ID" />
    <!-- INFOS OF INDEX 6 -->
    <add key="RECEITA.DADOS[6].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" />
          <add key="RECEITA.DADOS[6].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" />
          <add key="RECEITA.DADOS[6].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" />
          <add key="RECEITA.DADOS[6].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" />
          <add key="RECEITA.DADOS[6].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" />
          <add key="RECEITA.DADOS[6].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" />
          <add key="RECEITA.DADOS[6].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" />
          <add key="RECEITA.DADOS[6].DATA" value="RECEITA.DADOS[1].DATA"/>
          <add key="RECEITA.DADOS[6].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" />
          <add key="RECEITA.DADOS[6].ID" value="RECEITA.DADOS[1].ID" />
    <!-- INFOS OF INDEX 7 -->
    <add key="RECEITA.DADOS[7].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
          <add key="RECEITA.DADOS[7].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
          <add key="RECEITA.DADOS[7].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
          <add key="RECEITA.DADOS[7].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
          <add key="RECEITA.DADOS[7].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
          <add key="RECEITA.DADOS[7].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
          <add key="RECEITA.DADOS[7].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
          <add key="RECEITA.DADOS[7].DATA" value="RECEITA.DADOS[1].DATA" =""/>
          <add key="RECEITA.DADOS[7].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
          <add key="RECEITA.DADOS[7].ID" value="RECEITA.DADOS[1].ID" =""/>
    <!-- INFOS OF INDEX 8 -->
    <add key="RECEITA.DADOS[8].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
          <add key="RECEITA.DADOS[8].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
          <add key="RECEITA.DADOS[8].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
          <add key="RECEITA.DADOS[8].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
          <add key="RECEITA.DADOS[8].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
          <add key="RECEITA.DADOS[8].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
          <add key="RECEITA.DADOS[8].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
          <add key="RECEITA.DADOS[8].DATA" value="RECEITA.DADOS[1].DATA" =""/>
          <add key="RECEITA.DADOS[8].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
          <add key="RECEITA.DADOS[8].ID" value="RECEITA.DADOS[1].ID" =""/>
    <!-- INFOS OF INDEX 9 -->
    <add key="RECEITA.DADOS[9].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
          <add key="RECEITA.DADOS[9].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
          <add key="RECEITA.DADOS[9].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
          <add key="RECEITA.DADOS[9].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
          <add key="RECEITA.DADOS[9].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
          <add key="RECEITA.DADOS[9].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
          <add key="RECEITA.DADOS[9].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
          <add key="RECEITA.DADOS[9].DATA" value="RECEITA.DADOS[1].DATA" =""/>
          <add key="RECEITA.DADOS[9].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
          <add key="RECEITA.DADOS[9].ID" value="RECEITA.DADOS[1].ID" =""/>
    <!-- INFOS OF INDEX 10 -->
    <add key="RECEITA.DADOS[10].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
          <add key="RECEITA.DADOS[10].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
          <add key="RECEITA.DADOS[10].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
          <add key="RECEITA.DADOS[10].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
          <add key="RECEITA.DADOS[10].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
          <add key="RECEITA.DADOS[10].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
          <add key="RECEITA.DADOS[10].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
          <add key="RECEITA.DADOS[10].DATA" value="RECEITA.DADOS[1].DATA" =""/>
          <add key="RECEITA.DADOS[10].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
          <add key="RECEITA.DADOS[10].ID" value="RECEITA.DADOS[1].ID" =""/>
    <!-- INFOS OF INDEX 11 -->
    <add key="RECEITA.DADOS[11].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
          <add key="RECEITA.DADOS[11].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
          <add key="RECEITA.DADOS[11].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
          <add key="RECEITA.DADOS[11].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
          <add key="RECEITA.DADOS[11].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
          <add key="RECEITA.DADOS[11].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
          <add key="RECEITA.DADOS[11].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
          <add key="RECEITA.DADOS[11].DATA" value="RECEITA.DADOS[1].DATA" =""/>
          <add key="RECEITA.DADOS[11].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
          <add key="RECEITA.DADOS[11].ID" value="RECEITA.DADOS[1].ID" =""/>
    <!-- INFOS OF INDEX 12 -->
    <add key="RECEITA.DADOS[12].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
          <add key="RECEITA.DADOS[12].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
          <add key="RECEITA.DADOS[12].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
          <add key="RECEITA.DADOS[12].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
          <add key="RECEITA.DADOS[12].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
          <add key="RECEITA.DADOS[12].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
          <add key="RECEITA.DADOS[12].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
          <add key="RECEITA.DADOS[12].DATA" value="RECEITA.DADOS[1].DATA" =""/>
          <add key="RECEITA.DADOS[12].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
          <add key="RECEITA.DADOS[12].ID" value="RECEITA.DADOS[1].ID" =""/>
    <!-- INFOS OF INDEX 13 -->
    <add key="RECEITA.DADOS[13].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
          <add key="RECEITA.DADOS[13].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
          <add key="RECEITA.DADOS[13].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
          <add key="RECEITA.DADOS[13].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
          <add key="RECEITA.DADOS[13].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
          <add key="RECEITA.DADOS[13].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
          <add key="RECEITA.DADOS[13].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
          <add key="RECEITA.DADOS[13].DATA" value="RECEITA.DADOS[1].DATA" =""/>
          <add key="RECEITA.DADOS[13].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
          <add key="RECEITA.DADOS[13].ID" value="RECEITA.DADOS[1].ID" =""/>
    <!-- INFOS OF INDEX 14 -->
    <add key="RECEITA.DADOS[14].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
          <add key="RECEITA.DADOS[14].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
          <add key="RECEITA.DADOS[14].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
          <add key="RECEITA.DADOS[14].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
          <add key="RECEITA.DADOS[14].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
          <add key="RECEITA.DADOS[14].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
          <add key="RECEITA.DADOS[14].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
          <add key="RECEITA.DADOS[14].DATA" value="RECEITA.DADOS[1].DATA" =""/>
          <add key="RECEITA.DADOS[14].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
          <add key="RECEITA.DADOS[14].ID" value="RECEITA.DADOS[1].ID" =""/>
    <!-- INFOS OF INDEX 15 -->
    <add key="RECEITA.DADOS[15].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
          <add key="RECEITA.DADOS[15].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
          <add key="RECEITA.DADOS[15].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
          <add key="RECEITA.DADOS[15].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
          <add key="RECEITA.DADOS[15].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
          <add key="RECEITA.DADOS[15].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
          <add key="RECEITA.DADOS[15].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
          <add key="RECEITA.DADOS[15].DATA" value="RECEITA.DADOS[1].DATA" =""/>
          <add key="RECEITA.DADOS[15].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
          <add key="RECEITA.DADOS[15].ID" value="RECEITA.DADOS[1].ID" =""/>
    <!-- INFOS OF INDEX 16 -->
    <add key="RECEITA.DADOS[16].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
          <add key="RECEITA.DADOS[16].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
          <add key="RECEITA.DADOS[16].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
          <add key="RECEITA.DADOS[16].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
          <add key="RECEITA.DADOS[16].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
          <add key="RECEITA.DADOS[16].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
          <add key="RECEITA.DADOS[16].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
          <add key="RECEITA.DADOS[16].DATA" value="RECEITA.DADOS[1].DATA" =""/>
          <add key="RECEITA.DADOS[16].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
          <add key="RECEITA.DADOS[16].ID" value="RECEITA.DADOS[1].ID" =""/>
    <!-- INFOS OF INDEX 17 -->
    <add key="RECEITA.DADOS[17].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
          <add key="RECEITA.DADOS[17].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
          <add key="RECEITA.DADOS[17].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
          <add key="RECEITA.DADOS[17].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
          <add key="RECEITA.DADOS[17].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
          <add key="RECEITA.DADOS[17].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
          <add key="RECEITA.DADOS[17].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
          <add key="RECEITA.DADOS[17].DATA" value="RECEITA.DADOS[1].DATA" =""/>
          <add key="RECEITA.DADOS[17].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
          <add key="RECEITA.DADOS[17].ID" value="RECEITA.DADOS[1].ID" =""/>
    <!-- INFOS OF INDEX 18 -->
    <add key="RECEITA.DADOS[18].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
          <add key="RECEITA.DADOS[18].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
          <add key="RECEITA.DADOS[18].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
          <add key="RECEITA.DADOS[18].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
          <add key="RECEITA.DADOS[18].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
          <add key="RECEITA.DADOS[18].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
          <add key="RECEITA.DADOS[18].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
          <add key="RECEITA.DADOS[18].DATA" value="RECEITA.DADOS[1].DATA" =""/>
          <add key="RECEITA.DADOS[18].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
          <add key="RECEITA.DADOS[18].ID" value="RECEITA.DADOS[1].ID" =""/>
    <!-- INFOS OF INDEX 19 -->
    <add key="RECEITA.DADOS[19].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
    <add key="RECEITA.DADOS[19].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
    <add key="RECEITA.DADOS[19].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
    <add key="RECEITA.DADOS[19].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
    <add key="RECEITA.DADOS[19].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
    <add key="RECEITA.DADOS[19].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
    <add key="RECEITA.DADOS[19].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
    <add key="RECEITA.DADOS[19].DATA" value="RECEITA.DADOS[1].DATA" =""/>
    <add key="RECEITA.DADOS[19].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
    <add key="RECEITA.DADOS[19].ID" value="RECEITA.DADOS[1].ID" =""/>
     
    <!-- INFOS OF INDEX 20 -->
    <add key="RECEITA.DADOS[20].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
    <add key="RECEITA.DADOS[20].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
    <add key="RECEITA.DADOS[20].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
    <add key="RECEITA.DADOS[20].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
    <add key="RECEITA.DADOS[20].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
    <add key="RECEITA.DADOS[20].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
    <add key="RECEITA.DADOS[20].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
    <add key="RECEITA.DADOS[20].DATA" value="RECEITA.DADOS[1].DATA" =""/>
    <add key="RECEITA.DADOS[20].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
    <add key="RECEITA.DADOS[20].ID" value="RECEITA.DADOS[1].ID" =""/>
     
    <!-- INFOS OF INDEX 21 -->
    <add key="RECEITA.DADOS[21].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
    <add key="RECEITA.DADOS[21].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
    <add key="RECEITA.DADOS[21].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
    <add key="RECEITA.DADOS[21].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
    <add key="RECEITA.DADOS[21].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
    <add key="RECEITA.DADOS[21].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
    <add key="RECEITA.DADOS[21].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
    <add key="RECEITA.DADOS[21].DATA" value="RECEITA.DADOS[1].DATA" =""/>
    <add key="RECEITA.DADOS[21].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
    <add key="RECEITA.DADOS[21].ID" value="RECEITA.DADOS[1].ID" =""/>
     
    <!-- INFOS OF INDEX 22 -->
    <add key="RECEITA.DADOS[22].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
    <add key="RECEITA.DADOS[22].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
    <add key="RECEITA.DADOS[22].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
    <add key="RECEITA.DADOS[22].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
    <add key="RECEITA.DADOS[22].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
    <add key="RECEITA.DADOS[22].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
    <add key="RECEITA.DADOS[22].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
    <add key="RECEITA.DADOS[22].DATA" value="RECEITA.DADOS[1].DATA" =""/>
    <add key="RECEITA.DADOS[22].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
    <add key="RECEITA.DADOS[22].ID" value="RECEITA.DADOS[1].ID" =""/>
     
    <!-- INFOS OF INDEX 23 -->
    <add key="RECEITA.DADOS[23].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
    <add key="RECEITA.DADOS[23].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
    <add key="RECEITA.DADOS[23].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
    <add key="RECEITA.DADOS[23].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
    <add key="RECEITA.DADOS[23].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
    <add key="RECEITA.DADOS[23].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
    <add key="RECEITA.DADOS[23].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
    <add key="RECEITA.DADOS[23].DATA" value="RECEITA.DADOS[1].DATA" =""/>
    <add key="RECEITA.DADOS[23].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
    <add key="RECEITA.DADOS[23].ID" value="RECEITA.DADOS[1].ID" =""/>
     
    <!-- INFOS OF INDEX 24 -->
    <add key="RECEITA.DADOS[24].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
    <add key="RECEITA.DADOS[24].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
    <add key="RECEITA.DADOS[24].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
    <add key="RECEITA.DADOS[24].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
    <add key="RECEITA.DADOS[24].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
    <add key="RECEITA.DADOS[24].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
    <add key="RECEITA.DADOS[24].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
    <add key="RECEITA.DADOS[24].DATA" value="RECEITA.DADOS[1].DATA" =""/>
    <add key="RECEITA.DADOS[24].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
    <add key="RECEITA.DADOS[24].ID" value="RECEITA.DADOS[1].ID" =""/>
     
    <!-- INFOS OF INDEX 25 -->
    <add key="RECEITA.DADOS[25].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
    <add key="RECEITA.DADOS[25].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
    <add key="RECEITA.DADOS[25].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
    <add key="RECEITA.DADOS[25].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
    <add key="RECEITA.DADOS[25].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
    <add key="RECEITA.DADOS[25].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
    <add key="RECEITA.DADOS[25].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
    <add key="RECEITA.DADOS[25].DATA" value="RECEITA.DADOS[1].DATA" =""/>
    <add key="RECEITA.DADOS[25].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
    <add key="RECEITA.DADOS[25].ID" value="RECEITA.DADOS[1].ID" =""/>
     
    <!-- INFOS OF INDEX 26 -->
    <add key="RECEITA.DADOS[26].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
    <add key="RECEITA.DADOS[26].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
    <add key="RECEITA.DADOS[26].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
    <add key="RECEITA.DADOS[26].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
    <add key="RECEITA.DADOS[26].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
    <add key="RECEITA.DADOS[26].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
    <add key="RECEITA.DADOS[26].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
    <add key="RECEITA.DADOS[26].DATA" value="RECEITA.DADOS[1].DATA" =""/>
    <add key="RECEITA.DADOS[26].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
    <add key="RECEITA.DADOS[26].ID" value="RECEITA.DADOS[1].ID" =""/>
     
    <!-- INFOS OF INDEX 27 -->
    <add key="RECEITA.DADOS[27].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
    <add key="RECEITA.DADOS[27].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
    <add key="RECEITA.DADOS[27].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
    <add key="RECEITA.DADOS[27].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
    <add key="RECEITA.DADOS[27].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
    <add key="RECEITA.DADOS[27].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
    <add key="RECEITA.DADOS[27].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
    <add key="RECEITA.DADOS[27].DATA" value="RECEITA.DADOS[1].DATA" =""/>
    <add key="RECEITA.DADOS[27].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
    <add key="RECEITA.DADOS[27].ID" value="RECEITA.DADOS[1].ID" =""/>
     
    <!-- INFOS OF INDEX 28 -->
    <add key="RECEITA.DADOS[28].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
    <add key="RECEITA.DADOS[28].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
    <add key="RECEITA.DADOS[28].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
    <add key="RECEITA.DADOS[28].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
    <add key="RECEITA.DADOS[28].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
    <add key="RECEITA.DADOS[28].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
    <add key="RECEITA.DADOS[28].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
    <add key="RECEITA.DADOS[28].DATA" value="RECEITA.DADOS[1].DATA" =""/>
    <add key="RECEITA.DADOS[28].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
    <add key="RECEITA.DADOS[28].ID" value="RECEITA.DADOS[1].ID" =""/>
     
    <!-- INFOS OF INDEX 29 -->
    <add key="RECEITA.DADOS[29].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
    <add key="RECEITA.DADOS[29].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
    <add key="RECEITA.DADOS[29].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
    <add key="RECEITA.DADOS[29].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
    <add key="RECEITA.DADOS[29].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
    <add key="RECEITA.DADOS[29].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
    <add key="RECEITA.DADOS[29].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
    <add key="RECEITA.DADOS[29].DATA" value="RECEITA.DADOS[1].DATA" =""/>
    <add key="RECEITA.DADOS[29].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
    <add key="RECEITA.DADOS[29].ID" value="RECEITA.DADOS[1].ID" =""/>
     
    <!-- INFOS OF INDEX 30 -->
    <add key="RECEITA.DADOS[30].PARAMETROS[0]" value="RECEITA.DADOS[1].PARAMETROS[0]" =""/>
    <add key="RECEITA.DADOS[30].PARAMETROS[1]" value="RECEITA.DADOS[1].PARAMETROS[1]" =""/>
    <add key="RECEITA.DADOS[30].PARAMETROS[2]" value="RECEITA.DADOS[1].PARAMETROS[2]" =""/>
    <add key="RECEITA.DADOS[30].PARAMETROS[3]" value="RECEITA.DADOS[1].PARAMETROS[3]" =""/>
    <add key="RECEITA.DADOS[30].PARAMETROS[4]" value="RECEITA.DADOS[1].PARAMETROS[4]" =""/>
    <add key="RECEITA.DADOS[30].HORA[0]" value="RECEITA.DADOS[1].HORA[0]" =""/>
    <add key="RECEITA.DADOS[30].HORA[1]" value="RECEITA.DADOS[1].HORA[1]" =""/>
    <add key="RECEITA.DADOS[30].DATA" value="RECEITA.DADOS[1].DATA" =""/>
    <add key="RECEITA.DADOS[30].ASSINATURA" value="RECEITA.DADOS[1].ASSINATURA" =""/>
    <add key="RECEITA.DADOS[30].ID" value="RECEITA.DADOS[1].ID" =""/>
     


    <add key="EnderecoJson" value="C:/SPI/Service/test.json" />

  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.32.3057.0" newVersion="1.32.3057.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>