<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />    
    </startup>
    <appSettings>
      <add key="EnderecoJson" value="C:/SPI/Service/test.json" />
      <!-- PATHS TO SAVE FILE -->
      <add key="PATHLOGCHIESI" value="C:/SPI/logs/log.txt" />
      <add key="PATHLOGCHIESITOSAVE" value="C:/SPI/logGenerated/log.txt" />
      <add key="PATHERRORLOGCHIESI" value="C:/SPI/logs/ErrorLog.txt" />
      <add key="PATHLOGACTION" value="C:/SPI/logGenerated/logAction-" />
      <add key="PATHADCHIESI" value="C:/SPI/logs/logAD-" />
      <add key="STYLESHEET" value="C:/SPI/Service/Stylesheet1.css" />
      <add key="RELATORIOPATH" value="C:/SPI/logs/pdf/" />
      <add key="LOGOPATH" value="C:/SPI/Service/logo.png" />
      <add key="PATHDUMP" value="C:/SPI/Service/test.json" />
      <!-- TAGS -->
      <add key="connectionString" value="server=W12BRPLABD01;Database=SPI_INTERLEVEL_DB;persist security info=False;User ID=spi;Password=spi" />
      <add key="TAGASSINATURA" value="" />
      <add key="TAGDATA" value="" />
      <add key="TAGHOUR" value="" />
      <add key="TAGLIFEBIT" value="ProjetoChiesi.plcchiesi.Operation.tag_life_bit" />
      <add key="TAGLIFEBITCHECK" value="ProjetoChiesi.plcchiesi.Operation.tag_lifebit_check" />
      <add key="TAGERRORPLC" value="ProjetoChiesi.plcchiesi.Operation.tag_error" />
      <add key="TAGERRORMESSAGE" value="ProjetoChiesi.plcchiesi.Operation.tag_error_message" />
      <add key="TAGPRODUCTYPE" value="ProjetoChiesi.plcchiesi.Operation.tag_product_type" />
      <add key="TAGRECIPETYPE" value="ProjetoChiesi.plcchiesi.Product.tag_recipe_type" />
      
      <add key="EnderecoJson" value="C:/SPI/Service/test.json" />
      
    </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.32.3057.0" newVersion="1.32.3057.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>